/* ELEMENT STYLES -------------------- */
body {
  background: #e8e7e7;
  font-family: arial;
  box-sizing: content-box;
}

header {
  color: #FFF;
  padding: 5px 10px;
  text-align: center;
  display: flex;
  align-items: center;
  background-color: #1338a7;
  border-bottom: solid 2px #cad7ff;
}

header h1 {
  flex-grow: 1;
  font-size: 1.5em;
  letter-spacing: 2px;
  font-weight: normal;
}

/* FORMS */
form {
  display: flex;
  background-color: #1338a7;
}

input[type=text] {
  flex-grow: 1;
  border-width: 0 0 1px 0;
  margin: 15px 10px 15px 15px;
  padding: 10px;
  border-radius: 5px;
  background-color: #0b2162;
  border-style: none;
  text-shadow: none;
  text-transform: uppercase;
  color: #7c99f0;
  letter-spacing: 2px;
  outline: none;
}

input[type=text]::-webkit-input-placeholder {
  color: #7c99f0;
  letter-spacing: 2px;
}

input[type=text]:focus {
  background-color: rgba(0, 0, 0, 0.2);
}

input[type=submit] {
  display: block;
  font-size: 0.6em;
  margin: 15px 15px 15px 0;
  padding: 10px;
  background-color: #0b2162;
  border-radius: 5px;
  border: none;
  color: #fff;
  letter-spacing: 2px;
  font-weight: bold;
  text-shadow: none;
  text-transform: uppercase;
  cursor: pointer;
}

button,
input[type=submit] {
  outline: none;
  transition: background-color 0.2s ease, color 0.2s ease;
}

/* ICONS */
svg {
  width: 28px;
  height: 19px;
  margin-right: 5px;
  fill: #F0F0F0;
}

.is-high-score {
  fill: #FFC657;
  animation: grow 0.35s ease-in-out;
  transform-origin: 50% 50%;
}

@keyframes grow {
  50% {
    transform: scale(1.4) rotate(-3deg);
  }
}
/* COMPONENT STYLES -------------------- */
.scoreboard {
  background: #fff;
  width: 93%;
  max-width: 950px;
  margin: 70px auto;
  box-shadow: 0 2px 0 #002fba;
  border-radius: 6px;
  overflow: hidden;
  font-size: 1.8vw;
}

.team-board {
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
}

.team {
  background: #EEEEEE;
  width: 100%;
  font-size: 1rem;
  border-bottom: solid 2px #EEEEEE;
  letter-spacing: 2px;
}
@media (min-width: 538px) {
  .team {
    width: 50%;
    min-width: 250px;
  }
}
.team h1 {
  font-size: 1.2rem;
  width: 70%;
  margin-left: 10px;
  display: inline-block;
}
.team:last-child {
  box-shadow: inset 2px 0 0 0 #7c99f0;
}

.player_home_team,
.player_away_team {
  background: #f8f8f8;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  font-size: 1rem;
  border-bottom: solid 1px #7c99f0;
  letter-spacing: 2px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.player_away_team {
  box-shadow: inset 2px 0 0 0 #7c99f0;
}

.player:last-of-type {
  border-bottom-color: #2152e6;
}

.player-name:hover .remove-player {
  visibility: visible;
}

.player-name,
.counter-score {
  color: #2F2366;
}

.player-stats {
  padding-top: 5px;
  margin-right: auto;
  width: 60%;
}

.player-name {
  display: block;
  padding-left: 3px;
  margin-bottom: 3px;
  margin-right: auto;
}

.player-score {
  font-size: 0.7em;
  display: block;
  padding-left: 15px;
  margin: 0 auto 5px 0;
}

.remove-player {
  font-size: 1.15em;
  border: none;
  outline: none;
  visibility: hidden;
  color: #EF5350;
  cursor: pointer;
  margin: 0 10px 0 0;
  padding: 0;
  background: none;
}

.counter-box {
  display: flex;
  justify-content: space-evenly;
  min-width: 30%;
  margin-left: auto;
}
@media (min-width: 538px) {
  .counter-box {
    width: 20%;
  }
}

* {
  box-sizing: content-box;
}

.counter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.counter span {
  display: block;
  text-align: center;
  margin: auto 0;
  width: 100%;
  font-size: 0.5rem;
}

.counter-action {
  height: 40px;
  cursor: pointer;
  outline: none;
  background: none;
  display: block;
  border: none;
  padding-block-start: 0px;
  padding-inline-end: 0px;
  padding-block-end: 0px;
  padding-inline-start: 0px;
}

.arrow {
  height: 35px;
  width: 35px;
}
.arrow .cls-1 {
  fill: #9a9a9a;
  stroke: #a7a7a7;
  stroke-miterlimit: 10;
}
.arrow .cls-2 {
  fill: #bcbec0;
}

.counter-action:hover .cls-2 {
  fill: #fff;
}

.increment:hover .arrow-up .cls-1 {
  stroke: #00a14b;
  fill: #008e42;
}

.decrement:hover .arrow-down .cls-1 {
  stroke: #dc0000;
  fill: #d30000;
}

.arrow-down {
  margin: 3px 0;
}

.counter-score {
  display: block;
  width: 4vw;
  text-align: center;
  margin: auto 0;
}

.stats,
.stopwatch {
  width: 70px;
}

.stats {
  font-weight: normal;
  display: inline;
}

.stopwatch {
  padding: 15px 10px 5px 10px;
  margin: -5px -10px -5px 10px;
  background: #002fba;
}

.stopwatch-time {
  display: block;
  font-family: monospace;
  font-size: 2.15em;
}

.stopwatch button {
  margin: 8px 5px;
  background-color: #0b2162;
  border-radius: 5px;
  padding: 7px 8px;
  border: none;
  color: #fff;
  letter-spacing: 2px;
  font-weight: bold;
  text-shadow: none;
  text-transform: uppercase;
}

.stopwatch button:hover,
input[type=submit]:hover {
  background: #fff;
  color: #0b2162;
  cursor: pointer;
}

.stopwatch h2 {
  font-size: 0.6em;
  margin: 0;
  font-weight: normal;
  letter-spacing: 2px;
}

/*# sourceMappingURL=app.css.map */
