// Color Variables

$colPri: rgb(19, 56, 167);
$colDk: darken($colPri, 15%);
$colLt1: lighten($colPri, 15%);
$colLt2: saturate($colPri, 25%);
$colLt3: lighten($colPri, 35%);




/* ELEMENT STYLES -------------------- */

body {
  background: #e8e7e7; 
  font-family: arial;
  // text-transform: uppercase;
  box-sizing: content-box;
}

header {
  color: #FFF;
  padding: 5px 10px;
  text-align: center;
  display: flex;
  align-items: center;
  background-color: $colPri;
  border-bottom: solid 2px rgb(202, 215, 255);
}

header h1 {
  flex-grow: 1;
  font-size: 1.5em;
  letter-spacing: 2px;
  font-weight: normal;
}

/* FORMS */

form {
  display: flex;
  background-color: $colPri;
}

input[type=text] {
  flex-grow: 1;
  border-width: 0 0 1px 0;
  margin: 15px 10px 15px 15px;
  padding: 10px;
  border-radius: 5px;
  background-color: $colDk;
  border-style: none;
  text-shadow: none;
  color: $colLt3;
  @media (min-width: 447px){
    letter-spacing: 2px;
  }
  
  outline: none;
}

input[type=text]::-webkit-input-placeholder{
  color: $colLt3;
  letter-spacing: 2px;
}

input[type=text]:focus{
  background-color: rgba(0, 0, 0, 0.2);
}
.team-select{
  font-size: 1rem;
  padding: 15px 6px;
  color: $colLt3;
  h3{
    margin: 0 6px 2px;
    color: rgb(228, 228, 228);
  }
  label{
    font-size: .8em;
    display: block;
  }
}

input[type=radio]{
  &:first-child{
    margin-top:1px;
  }
  display: inline-block;
}

input[type=submit] {
  display: block;
  font-size: .6rem;
  margin: 15px 15px 15px 0; 
  padding: 10px;
  background-color: $colDk;
  border-radius: 5px;
  border: none;
  color: #fff;
  letter-spacing: 2px;
  font-weight: bold;
  text-shadow: none;
  text-transform: uppercase;
  cursor: pointer;
}

button, 
input[type=submit] {
  outline: none;
  transition: background-color 0.2s ease,
              color 0.2s ease;
}

/* ICONS */

svg {
  width: 28px;
  height: 19px;
  margin-right: 5px;
  fill: #F0F0F0;
}

.is-high-score {
  fill: #FFC657;
  animation: grow 0.35s ease-in-out;
  transform-origin: 50% 50%;
}

@keyframes grow {
  50% { transform: scale(1.4) rotate(-3deg); }
}

/* COMPONENT STYLES -------------------- */

.scoreboard {
  background: #fff;
  width: 93%;
  max-width: 950px;
  margin: 70px auto;
  box-shadow: 0 2px 0 $colLt2;
  border-radius: 6px;
  overflow: hidden;
 font-size: 1.8vw;
}

.team-board{
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
}

.team {
  background: #EEEEEE;
  width: 100%;
  @media (min-width: 538px){
    width: 50%;
  min-width: 250px;
  }
  // display: flex;
  // flex-wrap: wrap;
  font-size: 1rem;
  border-bottom: solid 2px #EEEEEE;
  letter-spacing: 2px;
  
  h1{
    font-size: 1.2rem;
    width: 70%;
    margin-left: 10px;
    display: inline-block;
  }
  &:last-child{
    box-shadow:inset 2px 0 0 0 $colLt3;
  }
}

.player_home_team,
.player_away_team {
  background: rgb(248, 248, 248);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  font-size: 1rem;
  border-bottom: solid 1px $colLt3;
  letter-spacing: 2px;
  padding-top: 4px;
  padding-bottom: 4px;
}
.player_away_team {
  box-shadow:inset 2px 0 0 0 $colLt3;
}

.player:last-of-type {
  border-bottom-color: $colLt1;
}

.player-name:hover .remove-player {
  visibility: visible;
}

.player-name,
.counter-score {
  color: #2F2366;
}
.player-stats{
  padding-top: 5px;
  // min-width: 150px;
  margin-right: auto;
  width: 60%;
}
.player-name {
  display: block;
  padding-left: 3px;
  margin-bottom: 3px;
  margin-right: auto;
}
.player-score {
  font-size: .7em;
  display: block;
  padding-left: 15px;
  margin: 0 auto 5px 0;
}

.remove-player {
  font-size: 1.15em;
  border: none;
  outline: none;
  visibility: hidden;
  color: #EF5350;
  cursor: pointer;
  margin: 0 10px 0 0;
  padding: 0;
  background: none;
}

.counter-box{
  display: flex;
  justify-content: space-evenly;
  min-width: 30%;
  margin-left: auto;
  @media (min-width: 538px){
    width: 20%;
  }
}
*{
  box-sizing: content-box;
}
.counter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  span{
    display: block;
    text-align: center;
    margin: auto 0;
    width: 100%;
    font-size: .5rem;
    
  }
}


.counter-action {
  height: 40px;
  cursor: pointer;
  outline: none;
  background: none;
  display: block;
  border: none;
  padding-block-start: 0px;
padding-inline-end: 0px;
padding-block-end: 0px;
padding-inline-start: 0px;
}

.arrow {
  height: 35px;
  width: 35px;
  .cls-1 {
    fill: #9a9a9a;
    stroke: #a7a7a7;
    stroke-miterlimit: 10;
  }
  .cls-2 {
    fill: #bcbec0;
  }
}
.counter-action:hover {
  .cls-2{
    fill: #fff;
  }
}

.increment:hover .arrow-up{
  .cls-1{
    stroke: #00a14b;
    fill: #008e42;
  }
  
}

.decrement:hover .arrow-down{
  .cls-1{
    stroke: #dc0000;
    fill: #d30000;
  }
}

  .arrow-down{
    margin: 3px 0;
  }

.counter-score {
  display: block;
  // width: 50%;
  width: 4vw;
  text-align: center;
  margin: auto 0;
}



.stats,
.stopwatch {
width: 70px;
}

.stats {
// margin: 0 0 0 28px;
font-weight: normal;
display: inline;
}

.stopwatch {
  padding: 15px 10px 5px 10px;
  margin: -5px -10px -5px 10px;
  background: $colLt2;
}

.stopwatch-time {
  display: block;
  font-family: monospace;
  font-size: 2.15em;
}

.stopwatch button {
  margin: 8px 5px;
  background-color: $colDk;
  border-radius: 5px;
  padding: 7px 8px;
  border: none;
  color: #fff;
  letter-spacing: 2px;
  font-weight: bold;
  text-shadow: none;
  text-transform: uppercase;
}

.stopwatch button:hover,
input[type=submit]:hover {
  background: #fff;
  color: $colDk;
  cursor: pointer;
}

.stopwatch h2 {
  font-size: .6em;
  margin: 0;
  font-weight: normal;
  letter-spacing: 2px;
}

